<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Test Suite" parallel="tests">
<listeners>
	<listener class-name="com.ecommerce.Listeners.TestListener"/>
	<listener class-name="com.ecommerce.Listeners.TestAnnotationTransformer"/>
</listeners>
	<test name="Chrome Execution in Localhost">
		<parameter name="browser" value="chrome" />
		<parameter name="locale" value="local" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test>
	<test name="Firefox Execution in Localhost">
		<parameter name="browser" value="firefox" />
		<parameter name="locale" value="local" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test>
	<!-- <test name="Chrome Execution in Cloud">
		<parameter name="browser" value="chrome" />
		<parameter name="locale" value="cloud" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test>
	<test name="Firefox Execution in Cloud">
		<parameter name="browser" value="firefox" />
		<parameter name="locale" value="cloud" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test> -->
	<test name="Chrome Execution in Remote">
		<parameter name="browser" value="chrome" />
		<parameter name="locale" value="remote" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test>
	<test name="Firefox Execution in Remote">
		<parameter name="browser" value="firefox" />
		<parameter name="locale" value="remote" />
		<classes>
			<class name="com.ecommerce.testcases.EcommerceLaunchPageTest"></class>
		</classes>
	</test>
</suite> 
